html {
    background-color: rgb(156, 209, 255);
}

body {
    font-family: "Segoe UI";
    text-align: center;
}

#urlForm {
    box-shadow: 30px 30px #003E5A;
    width: 1500px;
    margin: auto;
    margin-top: 2%;
    background-color: #33C1FF;
    font-size: 4em;
    color: #003E5A;
}

.formControl {
    outline: none;
    width: 1300px;
    height: 100px;
    background-color: #33C1FF;
    border-width: 10px;
    border-color: #003E5A;
    font-size: 0.5em;
    font-family: "Segoe UI";
    color: #003E5A;
}

#createURL {
    margin-bottom: 2%;
    background-color: #003E5A;
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-family: "Segoe UI";
    color: #33C1FF;
}

#resultCard {
    box-shadow: 30px 30px #003E5A;
    width: 1200px;
    margin: auto;
    margin-top: 2%;
    background-color: #33C1FF;
    font-size: 2em;
    color: #003E5A;
}

a {
    color: teal;
}

#copyButton {
    margin-bottom: 2%;
    background-color: #003E5A;
    cursor: pointer;
    border: none;
    font-size: 2em;
    font-family: "Segoe UI";
    color: #33C1FF;
}

#copyButton.copied {
    background-color: teal;
}